.pride_flag {
	background: linear-gradient(180deg, #FE0000 16.66%,
	#FD8C00 16.66%, 33.32%,
	#FFE500 33.32%, 49.98%,
	#119F0B 49.98%, 66.64%,
	#0644B3 66.64%, 83.3%,
	#C22EDC 83.3%);
}

.bi_flag {
	background: linear-gradient(180deg, #D60270 40%, #9B4F96 40%, 60%, #0038A8 60%);
}

.trans_flag {
	background: linear-gradient(180deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}